.mainDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.div {
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes shadow {
    from {box-shadow: 0px 0px 20px cyan, 0px 0px 20px cyan;}
    to {box-shadow: 0px 0px 30px cyan, 0px 0px 60px cyan;}
}

.a {
    color: rgb(252, 240, 255);
    font-weight: bold;
    text-decoration: none;
}
    .a:hover {
        color: rgb(228, 120, 255);
        text-shadow: 0px -2px 10px rgb(156, 0, 195), 0px -2px 10px rgb(216, 61, 255);
    }

.back {
    max-width: 30%;
    background-color: rgb(177, 135, 255);
    height: 380px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    animation: shadow 1s infinite alternate linear;
    box-shadow: 0px 0px 20px cyan, 0px 0px 20px cyan;
}
.img {
    max-height: 60%;
    max-width: 80%;
}



@keyframes flames1 {
    from {text-shadow: 0px -2px 10px cyan, 0px -2px 10px cyan}
    to {text-shadow: 2px -4px 10px cyan, 0px -4px 10px cyan}
}
.title {
    font-size: 20px;
    height: 25%;
    color: rgb(101, 0, 144);
    font-weight: bold;
    animation: flames1 500ms infinite alternate linear
}

.description {
    margin-top: 10px
}

.keys {
    background-color: rgb(123, 93, 255);
    padding: 5px;
    border-radius: 20px;
    color: rgb(157, 0, 196);
    font-weight: bold;
}
