.div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
    
    
    
}

.platform {
    margin-top: 10px;
    background: rgb(21, 0, 45);
    color: rgba(0, 255, 255, 0.44);
    padding: 8px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.2rem;
    width: 20%;
    border-radius: 10px
   
}

    .platform:hover {
        color: rgba(0, 255, 255, 0.714);
        background: rgb(43, 0, 92);
        cursor: pointer
    }

.platformActive {
    margin-top: 10px;
    color: cyan;
    background: rgb(66, 0, 142);
    padding: 8px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.2rem;
    width: 20%;
    border-radius: 5px;;
    box-shadow: 0px 0px 20px cyan, 0px 0px 20px cyan
}

    .platformActive:hover {
        cursor: pointer
    }

.upDiv {
    position: fixed;
    
    
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes category {
    from {box-shadow: 0px 0px 15px rgb(220, 82, 255), 0px 0px 15px rgb(220, 82, 255)}
    to {box-shadow: 0px 0px 25px rgb(220, 82, 255), 0px 0px 25px rgb(220, 82, 255);}
}

@keyframes colorCat {
    from {color: rgba(233, 233, 233, 0.901);}
    to {color: rgb(227, 113, 255);}
}


.category {
    display: inline-block;
    margin: 5px;
    background: linear-gradient(to right, rgb(40, 0, 85), rgb(53, 0, 113), rgb(46, 0, 99));
    color: rgba(233, 233, 233, 0.901);
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    
}
    .category:hover {
        cursor: pointer;
        animation-name: colorCat, category;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
        
        
        
    }

.categories {
    margin-top: 10px;
    height: 100%;
    width: 800px;
}

.inputDiv {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.platforms {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}


.input {
    border: none;
    padding: 3px;
    border-radius: 5px;
    width: 400px;
    
}
    .input:focus {
        outline: none;
        box-shadow: 0px 0px 20px rgb(220, 82, 255)
    }